@import url("./style/parameters.css");
@import url("./style/fonts.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Palaquin", sans-serif;
    font-weight: bold;
}

.d_none{
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}
@media screen and (max-width: 768px) {
   
body{
    margin: 0 0 var(--menubar-height) 0;
}
}
.hero__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
.hero__section {
      gap: 32px;
      padding: 16px;
  }
}

.hero__img {
    position: relative;
    width: 100%;
    height: 440px;
    margin-bottom: calc(146px / 2);
    background-image: url(./assets/img/hero.png);
    background-position: 20% 50%;
    background-size: cover;
}

@media screen and (max-width: 768px) {
.hero__img {
      aspect-ratio: 1/1;
      height: unset;
      border-radius: 16px;
  }
}

.hero__companylogo {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    box-sizing: content-box;
    width: 120px;
    height: 120px;
    border: solid var(--color-secondary) 13px;
    border-radius: 50%;
}

.restaurant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurant__name-rating {
    display: flex;
    align-items: baseline;
    gap: 16px;
}

@media screen and (max-width: 768px) {
.restaurant__name-rating {
      flex-direction: column-reverse;
      align-items: center;
      gap: 8px;
  }
}
.restaurant__rating {
    display: flex;
    align-items: center;
    gap: 8px;
    transform: translateY(-5px);
    height: 32px;
    padding: 4px 5px;
    background-color: var(--color-secondary);
    border-radius: 4px;
    font-size: var(--font-size-rating);
    line-height: 0%;
}

.restaurant__rating svg {
    width: 16px;
    height: 16px;
}
.restaurant__name {
    font-size: var(--font-size-hero);
    font-family: "PalaquinDark", sans-serif;
    font-weight: bold;
    color: var(--color-text);
    text-align: center;
}

.restaurant__name--highlight {
    font-family: "PalaquinDark", sans-serif;
    color: var(--color-primary);
}

.restaurant__description {
    font-size: var(--font-size-hero-description);
    font-weight: bold;
    color: var(--color-text);
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1440px;
}

@media screen and (max-width: 768px) {
.container {
      width: 100%;
  }
}


.subcontainer {
    padding-right: 40px;
    padding-left: 120px;
}

@media screen and (max-width: 768px) {
.subcontainer {
    padding: 16px;
}
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--headder-height);
    background-color: var(--color-primary);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

@media screen and (max-width: 768px) {
    .header__container {
        padding:16px;
    }

}


.header__nav {
}


@media screen and (max-width: 768px) {
.header__nav {
      display: none;
  }
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - var(--headder-height) - var(--footer-height));
    background-color: var(--color-background);
    color: var(--color-text);
}
.maincontent{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;

}

.absolute {
  position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    padding-top: 44px;
}
.products {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 48px;
}

@media screen and (max-width: 768px) {
    .products{
        gap: 32px;
    }
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--footer-height);
    background-color: var(--color-primary);
    font-size: var(--font-size-footer);
}

.footer__copyright svg {
    fill: var(--color-text-light);
    width: 20px;
    height: 20px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    color: var(--color-text-light);
}

@media screen and (max-width: 768px) {
.footer-nav {
      flex-direction: column;
      gap: unset;
  }
}

.menubar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    height: 78px;
    padding: 24px 25px;
    background-color: var(--color-menubar);
}

@media screen and (min-width: 769px) {
.menubar {
      display: none;
  }
}

.menubar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menubar li {
    list-style: none;
}

.menubar__icon {
    fill: white;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.menubar__icon--active {
    fill: var(--color-primary);
    background-color: white;
}

.menubar__batch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3px;
    left: 16px;
    width: 15px;
    height: 15px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    font-size: 12px;
    line-height: 120%;
    color: var(--color-primary);
}

.menubar__batch--inactive {
    display: none;
}
