/* dialog */

/* block */
.order-dialog{
width: 415px;
height:269px;
border-radius: 32px;
padding: 32px 40px;
}


/* element __ */



/* modyfier -- */
.order-dialog--dark{
background-color: var(--color-dark);
}