* {
    font-family: "Palaquin", sans-serif;
    font-weight: bold;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px; /* Breite des vertikalen Balkens */
  height: 0px; /* Höhe des horizontalen Balkens */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5); /* Farbe des Balkens */
  border-radius: 4px;
}

.clickable {
    cursor: pointer;
}

/*
Source - https://stackoverflow.com/a/4407335
Posted by Blowsie, modified by community. See post 'Timeline' for change history
Retrieved 2026-03-31, License - CC BY-SA 4.0
*/
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}