:root {
  /* COLORS */
  --color-primary: #e76c1f;
  --color-secondary: #fdeadc;

  --color-background: #ffffff;

  --color-dark: #363534;

  --color-accent-soft: #e7c3ad;

  --color-highlight-soft: #facaac;
  
  --color-text:#333333;
  --color-text-light: #ffffff;

  /* TYPOGRAPHY */
  /* ... */

  /* SPACING */
  /* ... */

  /* LAYOUT */
  --headder-height: 128px;
  --footer-height: 128px;
  --menubar-height: 78px;

  /* EFFECTS */
  /* ... */


  /* Breakpoints */
  --max-mobile-width: 1085px;

}

@media screen and (max-width: 1085px /*var(--max-mobile-width)*/) {
  :root {
    /* COLORS */

    /* TYPOGRAPHY */

    /* SPACING */

    /* LAYOUT */
    --headder-height: 79px;
    /* EFFECTS */
  }
}
