header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--headder-height);
  background-color: var(--color-primary);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1085px /*var(--max-mobile-width)*/) {
  .header__container {
    padding: 16px;
  }
}

@media screen and (max-width: 1085px /*var(--max-mobile-width)*/) {
  .header__nav {
    display: none;
  }
}
